/*
Theme Name: GeneratePress Child Clean
Theme URI: https://generatepress.com/
Description: Child theme básico y genérico para GeneratePress.
Author: Equipo
Template: generatepress
Version: 1.0.0
Text Domain: generatepress-child
*/
