#toplevel_page_blueflamingo_settings .wp-menu-image.dashicons-before img{
    width: 18px;
    position: relative;
    bottom: 2px;
    left: 1px;
    opacity: 1;
}
.toplevel_page_blueflamingo_settings.wp-has-current-submenu .wp-menu-image img{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
#adminmenu li.toplevel_page_blueflamingo_settings.wp-has-submenu.wp-has-current-submenu.opensub:hover:after {
    border-right-color: #f1f1f1;
    right: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 8px;
    top: 10px;
    z-index: 10000;
}