/* =========================================================
   1. CSS RESET + VARIABLES
   ========================================================= */
/* Hide "Add Category" links in sidebar */
/* .editor-post-taxonomies__hierarchical-terms-add {
   display: none !important;
} */


.editor-styles-wrapper .gb-element-48b9b7ea {
   background-size: 60% !important;
}
