/* =========================
   Main Navigation
========================= */
#masthead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent;
}

.site-header {
  position: absolute;
  top: 0;
  z-index: 9999;
  
}



.site-header.grid-container {
  max-width: 100% !important;
}

.site-header .inside-header {
  max-width: var(--width1280) !important;
  flex-wrap: wrap;
  margin: auto !important;
  padding: 0px !important;
}

.site-header .btn-contact {
  position: relative;
  width: 160px;
  min-width: auto;
  padding: 0px !important;
  min-height: initial !important;
  height: var(--button-height)!important; 

}

.site-header .btn-contact a {
  color: var(--color-primary) !important;
  padding-left: 0 !important;
  padding-right: 10px !important;
}

/* Ãcono phone */
.site-header .btn-contact::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  background-image: url('/wp-content/themes/generatepress-child/assets/images/phone.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* Logo */
.site-header .site-logo {
  max-width: 217px;
  margin: 0 auto;
}

/* Hide title only (NOT branding) */
.site-header .site-title,
.site-header .site-description {
  display: none;
}

/* Mobile menu button wrapper */
.mobile-menu-control-wrapper {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

/* =========================
   Icon
========================= */

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle .gp-icon {
  display: none;
}

.menu-toggle::before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  background-image: url('/wp-content/themes/generatepress-child/assets/images/grid-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-toggle[aria-expanded='true']::before {
  display: none;
}

.menu-toggle[aria-expanded='true'] .gp-icon {
  display: block;
}

 


/* =========================
   Mobile layout fix
========================= */
@media (max-width: 1420px) {
  .site-header .inside-header {
    margin: 0px var(--section-padding) !important;
  }
}

@media (max-width: 768px) {

  .inside-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-logo {
    margin: 0;
  }
}

.has-inline-mobile-toggle .mobile-menu-control-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 70px;
  top: 0px;
}



@media (max-width: 1150px) {
  .main-navigation button.menu-toggle {
    display: flex !important;
  }

  .inside-navigation .menu-toggle::before {
    display: none;
  }

  .main-navigation .menu-toggle,
  .sidebar-nav-mobile:not(#sticky-placeholder) {
    display: block;
    padding: 0px !important;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-navigation.toggled .main-nav {
    flex-basis: 100%;
    order: 3;
  }

  .has-inline-mobile-toggle .inside-header {
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }

  .main-navigation.toggled .main-nav li {
    width: 100%;
    text-align: left;
  }

  .has-inline-mobile-toggle span.mobile-menu {
    display: none;
  }

  .main-navigation ul,
  .gen-sidebar-nav,
  .main-navigation:not(.slideout-navigation):not(.toggled) .main-nav>ul {
    display: none;
  }

  .has-inline-mobile-toggle .inside-header {
    display: block;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }


}

@media (max-width: 1170px) {
  .main-navigation .main-nav ul li a {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .has-inline-mobile-toggle .mobile-menu-control-wrapper {
    right: 70px;
  }
}

@media (max-width: 1050px) {

  .has-inline-mobile-toggle .mobile-menu-control-wrapper {
    right: 30px;
  }
}