:root {
  /* site is 1440px */
  /* container is 1280px */
  /* padding is 80px */
  /* ===============================
     Colors
  =============================== */
  --color-bg: #fcfaed;
  --color-bg-header: #b9ddea;
  --color-primary: #e10600;
  --color-primary-dark: #bb1510;
  --color-primary-light: #da4843;
  --color-primary-gray: #f5f5f5;
  --color-text: #1f2620;
  --color-text-muted: gray;

  --shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.07);

  /* ===============================
     Layout
  =============================== */
  --width1280: 1280px;
  --top-marging-page: 150px;
  --radius: 18px;
  --section-padding: 80px;
  --gap: 45px;
  --line-height: 0.9;
  --border-radius: 16px;
  --button-height: 55px;

  /* ===============================
     Typography
  =============================== */
  --font-family: 'Raleway', sans-serif;
  --font-family-barlow: 'Barlow', sans-serif;
  --font-family-barlow-condensed: 'Barlow Condensed', sans-serif;

  --font-size-base: 24px;
  --font-size-sm: 20px;
  --font-size-lg: 36px;
  --font-size-xl: 54px;
  --font-subtitle: 64px;
  --font-title: 78px;

  /* ===============================
     WordPress presets
  =============================== */
  --wp--preset--font-size--small: var(--font-size-base);
  --wp--preset--font-size--medium: var(--font-size-base);
  --wp--preset--font-size--large: var(--font-size-lg);
  --wp--preset--font-size--x-large: var(--font-size-xl);
}
@media (max-width: 1050px) {
  :root {
    --section-padding: 40px;
    --font-title: 60px;
    --font-subtitle: 54px;

    --font-size-base: 18px;
    --font-size-sm: 18px;
    --font-size-lg: 26px;
    --font-size-xl: 50px;

    --line-height: 1;
    --gap: 30px;
  }
}

body {
  font-family: var(--font-family) !important;
}
body.modal-open {
  overflow: hidden;
}
body.modal-open .modal-thumb {
  display: none;
}

/* ============================================================
   TITLES
============================================================ */
h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-subtitle);
  font-weight: bold;
  display: inline-flex;
  line-height: normal;
}

h2,
h2.gb-text,
.block-editor-block-list__block.title-and-text .wrap h2.gb-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-subtitle);
  font-weight: bold;
  line-height: normal;
}
h2.has-text-align-center {
  display: block !important;
}
h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-size-lg);
  font-weight: bold;
  line-height: normal;
}
/* subtitle  */
.title-and-text .wrap h3.wp-block-heading,
.block-editor-block-list__block.title-and-text .wrap .wp-block-heading {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
}

.headline .hero-title,
.headline .hero-title p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-title);
  display: inline-flex;
  line-height: normal;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='number'],
textarea,
select {
  background-color: white !important;
}

.card {
  position: relative;
  width: 100% !important;
  max-width: 580px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 24px;
  min-height: 320px;
  overflow: hidden;
}
.card h2 {
  font-family: var(--font-family-barlow);
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.card h2 a {
  text-decoration: none;
  font-family: var(--font-family-barlow);
  font-weight: bold;
  color: black;
  font-size: inherit;
}

.cardcolor,
.ui-post .gb-loop-item {
  position: relative;
  border-radius: var(--border-radius);
  background: linear-gradient(
    135deg,
    rgba(252, 250, 250, 0.708) 0%,
    rgba(255, 255, 255, 0.55) 100%
  );
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg, #f0f0f0d2 0%, rgba(251, 251, 251, 0.757) 100%) !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: var(--shadow) !important;
  border: 2px solid white !important;
  /* max-width: 410px; */
  max-height: 460px;
}

.case-tag p {
  margin: 0px;
  padding: 0px;
}

.case-tag p span,
.gray-tags p {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 5px 15px;
  border-radius: 8px;

  background: rgba(0, 0, 0, 0.06);
  border: 1px solid #fff;

  color: #000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.04),
    0 20px 40px rgba(0, 0, 0, 0.05);
}
.full-width-content .container.grid-container {
  position: relative;
}

/* if block are on a page */
.site-content .block-editor-block-list__block.pattern-industry > div,
.site-content .pattern-industry > div {
  margin: 0px;
}

.one-container .container.container {
  background-color: transparent;
}

ul {
  margin: 0 0 1em 1.5em !important;
}
/* ============================================================
   EDITOR
============================================================ */
.block-editor-block-list__block.general_container {
  padding: var(--section-padding) 0 !important;
}
.block-editor-block-list__block.wp-block-heading,
.wp-block-heading {
  display: block;
  font-size: var(--font-title);
  font-family: var(--font-family-barlow-condensed) !important;
  font-weight: bold;
}

/* =========================================================
   Media queries
   ========================================================= */

@media only screen and (max-width: 1420px) {
  .padding {
    padding: 0 var(--section-padding) !important;
  }
}

@media (max-width: 767px) {
  .card-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    row-gap: 30px;
  }

  .card {
    width: 100% !important;
  }

  .wp-block-post-title,
  .wp-block-heading {
    font-size: 50px;
  }
}

@media (max-width: 580px) {
  .block-editor-block-list__block .padding {
    padding: 0 !important;
  }
  .block-editor-block-list__block h2 {
    font-family: calc(24px / 2) !important;
  }
  .block-editor-block-list__block h2 a {
    border: 3px solid blue;
    font-family: calc(24px / 2) !important;
  }
}
