/* .comparison {
  border: 2px solid red;
} */

.comparison .card {
  display: inherit;
}

.comparison .card .wp-block-heading {
  font-size: calc(var(--font-subtitle) - 10px);
  font-weight: bold;
  display: inline-flex;
  line-height: normal;
}

.comparison .card ul.wp-block-list.check {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.comparison .card ul.wp-block-list.check li {
  position: relative;
  padding-left: 42px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.comparison .card ul.wp-block-list.check li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231f2a44' d='M9.2 16.6 4.8 12.2l1.4-1.4 3 3 7.6-7.6 1.4 1.4z'/%3E%3C/svg%3E") no-repeat center / contain;
}

/* ============================================================
   layout
============================================================ */

.comparison .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}