:root{
  --gap: 20px;
}
@media (max-width: 767px) {
  :root{
    --gap: 10px;
  }
}

.headline{
 min-height: 695px;
}
.use-cases-headline .headline{
  min-height: 540px;
}
.error404 #masthead{
  position: relative;
}

.headline,
.block-editor-block-list__block.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B8DDED;
  background: linear-gradient(190deg, rgba(184, 221, 237, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.mobile-menu-open .main-navigation{
  background-color: white;
}
.mobile-menu-open .main-navigation .main-nav>ul{
padding-right: 30px;
}


.headline .hero-title,
.headline .gray-tags,
.headline .text, .headline .ideal
{
margin-bottom: var(--gap) !important;
} 
.block-editor-block-list__block.headline .hero-title p,
.headline .hero-title p
 {
  margin-bottom: 0px !important;
}

/* ============================================================
   position
============================================================ */

.block-editor-block-list__block.headline .hero-tag figure,
.headline .hero-tag figure {
  margin: 0px !important;
}
.block-editor-block-list__block.headline .gray-tags{
  display: flex!important;
  margin:  0px;
  margin-bottom: var(--gap);
}
.block-editor-block-list__block.headline .gray-tags > .wp-block{
  display: flex!important;
  margin: 0px;
}
.headline>div,
.block-editor-block-list__block.headline>div {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width1280);
  padding-top: 40px;
}

.headline>div p,
.block-editor-block-list__block.headline>div p {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width1280);
  padding-top: 0px;
  margin-bottom: auto;
}

.headline>div .wp-block-buttons,
.block-editor-block-list__block.headline>div .wp-block-buttons {
  padding-top: 30px;
}




.headline .hero-title,
.block-editor-block-list__block.headline .hero-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  line-height: var(--line-height);
}

.headline>div,
.block-editor-block-list__block.headline>div {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: var(--width1280);
}

.block-editor-block-list__block.headline .site-logo,
.headline .site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}



.block-editor-block-list__block.headline .site-logo img,
.site-branding-container .site-logo img {
  max-width: 130px;
}

/* hero tag */
.block-editor-block-list__block.headline .hero-tag,
.headline .hero-tag {
  font-size: var(--font-size-base);
}

/* ============================================================
   SOLUTIONS
============================================================ */
/* gray-tags */
.block-editor-block-list__block.gray-tags,
.gray-tags {
  gap: var(--gap);
  flex-wrap: wrap;
}
.block-editor-block-list__block.gray-tags > div,
.gray-tags > div{
  width: fit-content;
  position: relative;
  column-gap: 20px;
}
.block-editor-block-list__block.gray-tags div,
.gray-tags div {
  display: flex;
}
.block-editor-block-list__block.gray-tags figure,
.gray-tags figure {
  max-width: 20px!important;
}
.block-editor-block-list__block.gray-tags  .wp-block-media-text__media,
.gray-tags .wp-block-media-text__media {
  position: absolute;
   left: 15px !important;
}
.block-editor-block-list__block.gray-tags  .wp-block-media-text__media {
   left: 40px !important;
}



.block-editor-block-list__block.gray-tags .wp-block-media-text__content,
.gray-tags .wp-block-media-text__content {
  flex-wrap: nowrap;
  padding: 0px  !important;
}
.block-editor-block-list__block.gray-tags .wp-block-media-text__content p,
.gray-tags .wp-block-media-text__content p {
   padding: 5px 15px !important;
   padding-left: 40px !important;
   white-space: nowrap;
 
}
.block-editor-block-list__block.gray-tags .wp-block-media-text__content p
 {
   white-space: nowrap!important;
}
.block-editor-block-list__block.gray-tags img,
.gray-tags img {
  width: 20px;
  left: 30px;
}

/* red-tags */
.block-editor-block-list__block.red-tags,
.red-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.block-editor-block-list__block.red-tags p,
.red-tags p{
  margin: 0px!important;
  max-height: 37px;
}


/* ============================================================
   MEDIA QUERY
============================================================ */
@media (max-width: 1440px) {

  .headline,
  .block-editor-block-list__block.headline {
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
  }
}


@media (max-width: 767px) {

  .headline,
  .block-editor-block-list__block.headline {
    height: auto;
  }
}