/* .icon-grid {
  border: 3px solid rgb(20, 244, 0);
} */

/* ============================================================
   Card Box .is-style-signifi-primary 
============================================================ */
.block-editor-block-list__block.icon-grid,
.icon-grid {
  display: flex;
  flex-direction: column;
}

.block-editor-block-list__block.icon-grid .editor-styles-wrapper .gb-element-74746895{
    max-width: 100% !important;
    min-height: 100%;
}
.block-editor-block-list__block.icon-grid ul,
.icon-grid ul {
  margin: 0 0 1em 1.5em !important;
}


.block-editor-block-list__block.icon-grid>div,
.icon-grid>div {
  width: 100% !important;
  padding: var(--section-padding) !important;
}

.block-editor-block-list__block.icon-grid>div>div:nth-child(2)>div,
.icon-grid>div>div:nth-child(2)>div {
  width: 100% !important;
}
/* fix */
.block-editor-block-list__block.icon-grid > div> div {
  min-width: 100% !important;
}
.block-editor-block-list__block.icon-grid .editor-styles-wrapper > div{
  max-width: 100% !important;
}

/* container > div 2 */
.block-editor-block-list__block.icon-grid>div>div:nth-child(2)>div>div,
.icon-grid>div>div:nth-child(2)>div>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}



.block-editor-block-list__block.icon-grid .card-box p,
.icon-grid .card-box p {
  margin-bottom: 0px !important;

}



.block-editor-block-list__block.icon-grid .card-box,
.icon-grid .card-box {
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  gap: 16px;
  padding: 20px 24px;
  width: 100% !important;
  height: 105px;
  max-width: 417px;
}
.block-editor-block-list__block.icon-grid .icon-grid  h2,
 .icon-grid >div h2.wp-block-heading {
 display: block!important;
}

    


/* ============================================================
   Icon
============================================================ */
.block-editor-block-list__block.icon-grid .card-box div:nth-child(1),
.icon-grid .card-box div:nth-child(1) {
  max-width: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.block-editor-block-list__block.icon-grid .card-box div:nth-child(1) svg,
.icon-grid .card-box div:nth-child(2) {
  flex-grow: 1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media (max-width: 1024px) {

  .block-editor-block-list__block.icon-grid>div,
  .icon-grid>div {
    padding: var(--section-padding) !important;
  }

}

@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    flex-basis: 80% !important;
  }
}

@media (max-width: 767px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    flex-basis: 70% !important;
  }

  .block-editor-block-list__block.icon-grid .card-box,
  .icon-grid .card-box {
    height: auto !important;
  }

  .block-editor-block-list__block.icon-grid>div,
  .icon-grid>div {
    width: 100% !important;
    padding: var(--section-padding) !important;
  }

  .block-editor-block-list__block.icon-grid>div>div:nth-child(2)>div>div,
  .icon-grid>div>div:nth-child(2)>div>div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

}