 
 
.block-editor-block-list__block.image-grid .container > div{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  
}
.block-editor-block-list__block.image-grid .gb-loop-item{
  width: calc(100% /3);
  padding: 0 15px;
}
.image-grid .container{
  max-width: var(--width1280);
  margin: auto;
}