.block-editor-block-list__block.stats>div>div,
.stats>div>div {
  display: flex;
  max-width: var(--width1280);
  margin: auto;
  justify-content: space-around;
  gap: 30px;
}
.block-editor-block-list__block.stats>div>div {
  display: flex;
  max-width: var(--width1280);
  margin: auto;
  justify-content: center;
  gap: 30px;
}

.block-editor-block-list__block.stats img,
.stats .card img {
  max-width: 45px;
  margin-bottom: 30px;
}

/* title */
.block-editor-block-list__block.stats h3,
.stats .card h3 {
  font-family: var(--font-family-barlow);
  font-weight: bold;
  color: black;
}

.block-editor-block-list__block.stats>div,
.stats>div {
  margin: 0px var(--section-padding);

}
.block-editor-block-list__block.stats .card , .stats .card {
    min-height: 192px;
}
.block-editor-block-list__block.stats .content , .stats .content {
    padding: 0px;
}
.block-editor-block-list__block.stats .gb-element-363527ad , .stats .gb-element-363527ad {
    min-height: initial;
}
.block-editor-block-list__block.stats p , .stats p{
    font-size: 24px;
    margin-bottom: 0px;
}
.block-editor-block-list__block.stats h3, .stats .card h3 {
    margin-bottom: 0px;
}
.block-editor-block-list__block.stats h3, .stats .card figure {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-editor-block-list__block.stats h3, .stats .card figure img {
    margin: 0px;
}

/* ============================================================
   EDITOR
============================================================ */
.block-editor-block-list__block.stats,
.stats {
  padding: var(--section-padding) 0px;
}
/* ============================================================
   MEDIA
============================================================ */
@media (max-width: 767px) {}

@media (max-width: 1140px) {

  .block-editor-block-list__block.stats .card,
  .stats .card {
    height: auto !important;
  }
}