/* .title-and-text{
  border: 2px solid red;
} */
.title-and-text > .wrap{
  max-width: var(--width1280)!important;
  margin: auto!important;
  margin-top: var(--section-padding)!important;
  margin-bottom: var(--section-padding)!important;
}
/* Huge */
@media only screen and (max-width: 1420px) {
   .title-and-text > .wrap{
    width: initial !important;
    margin: 0 var(--section-padding) !important;
   }
}


/* Desktop */
@media only screen and (max-width: 992px) {
  
}

/* Tablet */
@media only screen and (max-width: 768px) {
  
}

/* Mobile */
@media only screen and (max-width: 480px) {
  
}