.ui-arrow>div,
.block-editor-block-list__block.ui-arrow>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.block-editor-block-list__block .ui-arrow,
.ui-arrow {
  width: 100%;
  margin: 30px auto;
}

.block-editor-block-list__block .ui-arrow>div,
.ui-arrow>div {
  width: 146px;
  margin: auto;
}