.block-editor-block-list__block.ui-highlights>div>div,
.ui-highlights>div>div {
  display: flex;
  max-width: var(--width1280);
  margin: auto;
  justify-content: space-around;
  gap: 30px;
}
.block-editor-block-list__block.ui-highlights>div>div {
  display: flex;
  max-width: var(--width1280);
  margin: auto;
  justify-content: center;
  gap: 30px;
}

.block-editor-block-list__block.ui-highlights img,
.ui-highlights .card img {
  max-width: 45px;
  margin-bottom: 30px;
}

/* title */
.block-editor-block-list__block.ui-highlights h3,
.ui-highlights .card h3 {
  font-family: var(--font-family-barlow);
  font-weight: bold;
  color: black;
  font-size: 24px;
}

.block-editor-block-list__block.ui-highlights>div,
.ui-highlights>div {
  margin: 0px var(--section-padding);

}

.block-editor-block-list__block.ui-highlights h3, .ui-highlights .card h3 {
    margin-bottom: 0px;
}
.block-editor-block-list__block.ui-highlights h3, .ui-highlights .card figure {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-editor-block-list__block.ui-highlights h3, .ui-highlights .card figure img {
    margin: 0px;
}
/* ============================================================
   EDITOR
============================================================ */
.block-editor-block-list__block.ui-highlights,
.ui-highlights {
  padding: var(--section-padding) 0px;
}
/* ============================================================
   MEDIA
============================================================ */
@media (max-width: 767px) {}

@media (max-width: 1140px) {

  .block-editor-block-list__block.ui-highlights .card,
  .ui-highlights .card {
    height: auto !important;
  }
}