/* group */



.block-editor-block-list__block.ui-post>div,
.ui-post>div {
  padding: var(--section-padding);
}

/* container */
.block-editor-block-list__block.ui-post>div,
.ui-post>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* container  */
.block-editor-block-list__block.ui-post .content p,
.ui-post .content p {
  margin-bottom: 0px;
}
.block-editor-block-list__block.ui-post .container,
.ui-post .container {
  background-color: transparent;
}

/* container  */
.block-editor-block-list__block.ui-post .container{
  max-width: var(--width1280);
}
.block-editor-block-list__block.ui-post h2,
.ui-post h2 {
  display: flex !important;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-subtitle);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
  line-height: 1;
  padding: 0;
  margin-bottom: 20px!important;

}

.block-editor-block-list__block.ui-post h2>a,
.ui-post h2>a {
  display: flex !important;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-subtitle);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
  line-height: 1;
  padding: 0;

}



.block-editor-block-list__block.ui-post .wp-block-buttons,
.ui-post .wp-block-buttons {
  padding: 0px !important;
}


.block-editor-block-list__block.ui-post .gb-loop-item,
.ui-post .gb-loop-item {
  position: relative;
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 0px !important;
  max-width: 450px;

}

.block-editor-block-list__block.ui-post .gb-loop-item img,
.ui-post .gb-loop-item img {
  width: 100%;
  height: 200px;
  min-height: 200px;
  margin-bottom: 0px;
  object-fit: cover;
}

.block-editor-block-list__block.ui-post .gb-loop-item h2,
div.ui-post .gb-loop-item h2 {
  font-family: var(--font-family-barlow);
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.block-editor-block-list__block.ui-post .gb-loop-item h2 a,
div.ui-post .gb-loop-item h2 a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.block-editor-block-list__block.ui-post .gb-loop-item .content .gb-text,
div.ui-post .gb-loop-item .content .gb-text {
  margin-bottom: 0px;
}

.block-editor-block-list__block.ui-post .gb-loop-item .wp-element-button:hover,
.ui-post .gb-loop-item .wp-element-button:hover {
  color: var(--color-primary) !important;
}

/* ============================================================
   EDITOR
============================================================ */
.block-editor-block-list__block.ui-post .container {
  display: flex;
}
.block-editor-block-list__block.ui-post .gb-loop-item {
  width: calc(90% / 3)!important;
}
.block-editor-block-list__block.ui-post .is-style-signifi-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;

}






@media (max-width: 1364px) {

  .block-editor-block-list__block.ui-post .gb-looper-7950c493,
  div.ui-post .gb-looper-7950c493 {
    justify-content: center !important;
  }

  .block-editor-block-list__block.ui-post>div>div:nth-child(1),
  .ui-post>div>div>div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

}

@media (max-width: 1024px) {

  .block-editor-block-list__block.ui-post>div,
  .ui-post>div {
    margin: 0px;
  }

}


@media (max-width: 768px) {
  .gb-looper-7950c493 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .block-editor-block-list__block.ui-post .gb-looper-7950c493 .gb-loop-item:nth-child(1),
  .ui-post .gb-looper-7950c493 .gb-loop-item:nth-child(1) {
    margin: 0px !important;
  }

  .block-editor-block-list__block.ui-post .gb-looper-7950c493 .gb-loop-item:last-child,
  .ui-post .gb-looper-7950c493 .gb-loop-item:last-child {
    margin: 0px !important;
  }
}