/* =================================================
   Signifi Primary Button (Figma Accurate + SLOW Smooth Hover)
================================================= */

html input[type='button'],
input[type='reset'],
input[type='submit'],
.red-tags p,
a.gb-text, a.wp-block.gb-text,
a.button-signifi-primary,
a.is-style-signifi-primary,
a.wp-block-button__link.has-background,
a.wp-block-button__link:not(.has-background),
.block-editor-block-list__block .wp-block-button__link,
a.wp-block-button__link.wp-element-button,
a#load-more-use-cases,
button.wp-block-search__button.wp-element-button,
.block-editor-block-list__block .is-style-signifi-primary .wp-block-button__link,
.wp-block-button.is-style-signifi-primary .wp-block-button__link {
  position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  background: linear-gradient(145deg, #f93853, #d22f46) !important;
  color: #ffffff!important;

  height: var(--button-height);

  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;

  border-radius: 8px;
  border: none;
  padding: 0 28px;
  box-shadow:
    5px 5px 15px rgba(0, 0, 0, 0.1),
    -2px -2px 10px rgba(255, 255, 255, 0.1) inset !important;

  backdrop-filter: blur(10px) !important;
  overflow: hidden;

  /* ⏳ Slower + smoother transitions */
  transition:
    background 0.9s cubic-bezier(0.25, 0.1, 0.25, 1),
    color 0.6s ease,
    box-shadow 0.9s cubic-bezier(0.25, 0.1, 0.25, 1),
    filter 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.button-signifi-primary p,
a.wp-block-button__link.has-background p{
  margin-bottom: 0px!important;
}
/* ===============================
   Soft Glass Highlight
=============================== */

html input[type='button']::after,
input[type='reset']::after,
input[type='submit']::after,
a.gb-text::after,
.red-tags p::after,
a.button-signifi-primary::after,
a.is-style-signifi-primary::after
a.wp-block-button__link.has-background::after,
a.wp-block-button__link:not(.has-background)::after,
.block-editor-block-list__block .wp-block-button__link::after,
a#load-more-use-cases::after,
a.wp-block-button__link.wp-element-button::after,
button.wp-block-search__button.wp-element-button::after,
.block-editor-block-list__block .is-style-signifi-primary .wp-block-button__link::after,
.wp-block-button.is-style-signifi-primary .wp-block-button__link::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: radial-gradient(120% 30% at 30% 100%,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0.15) 30%,
      rgba(255, 255, 255, 0.05) 35%,
      transparent 100%);
  pointer-events: none;
  opacity: 1;
  transform: scale(1);

  transition:
    opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* =================================================
   Hover – Primary Button (SLOW)
================================================= */

html input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover,
a.gb-text:hover,
a.button-signifi-primary:hover,
a.is-style-signifi-primary:hover,
a.wp-block-button__link.has-background:hover,
a.wp-block-button__link:not(.has-background):hover,
a#load-more-use-cases:hover,
.block-editor-block-list__block .wp-block-button__link:hover,
a.wp-block-button__link.wp-element-button:hover,
button.wp-block-search__button.wp-element-button:hover,
.block-editor-block-list__block .is-style-signifi-primary .wp-block-button__link:hover,
.wp-block-button.is-style-signifi-primary .wp-block-button__link:hover {
  background: #ffffff !important;
  color: var(--color-primary) !important;

  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.06),
    inset 0 0 18px rgba(225, 7, 0, 0.516),
    inset 0 2px 4px rgba(255, 255, 255, 0.9),
    inset 0 0 0 1.25px rgba(225, 7, 0, 0.704) !important;
}

/* Highlight animation on hover */
.wp-block-button.is-style-signifi-primary .wp-block-button__link:hover::after {
  opacity: 0.85;
  transform: scale(1.015);
}

button.wp-block-search__button {
  padding: 18px 20px !important;
  margin-left: 0px !important;
}

/* =================================================
   Signifi Secondary Button
================================================= */

/* Base (editor + frontend) */
a.button-signifi-secondary,
a.is-style-signifi-secondary,
.wp-block-button.button-signifi-secondary,
.wp-block-button__link.is-style-signifi-secondary,
.block-editor-block-list__block .wp-block-button.is-style-signifi-secondary .wp-block-button__link,
.wp-block-button.is-style-signifi-secondary .wp-block-button__link,
.btn-contact {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  min-width: 190px;
  min-height: 55px;
  padding: 0 28px;

  border-radius: 8px;
  border: none;
  color: var(--color-primary)!important;
  background: rgba(214, 214, 214, 0.3) !important;
  backdrop-filter: blur(10px) !important;

  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
  overflow: hidden;
  z-index: 0;

  transition:
    background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s ease,
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s ease !important;
}

  .block-editor-block-list__block a.is-style-signifi-primary,
 a.is-style-signifi-primary, a.is-style-signifi-secondary {
    display: inline-flex ;
  justify-content: center !important;
  align-items: center !important;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.block-editor-block-list__block a.is-style-signifi-primary p,
 a.is-style-signifi-primary p, a.is-style-signifi-secondary p {
  margin: 0px !important;
}
/* =================================================
   Gradient Stroke – vertical, 3 stops, inside
================================================= */
a.button-signifi-secondary::before,
a.is-style-signifi-secondary::before,
.wp-block-button.button-signifi-secondary::before,
.wp-block-button__link.is-style-signifi-secondary::before,
.block-editor-block-list__block .wp-block-button.is-style-signifi-secondary .wp-block-button__link::before,
.wp-block-button.is-style-signifi-secondary .wp-block-button__link::before,
.btn-contact::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 8px;

  background: linear-gradient(180deg, #f2f2f2 0%, #e22f4a 41%, #ffffff 100%);

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

a.wp-block-button__link:not(.has-background):hover {
  color: #e9344e !important;
  background-color: #ffffff !important;
}

/* =================================================
   Hover – Secondary Button
================================================= */
a.button-signifi-secondary:hover,
a.is-style-signifi-secondary:hover,
.wp-block-button.button-signifi-secondary:hover,
.wp-block-button__link.is-style-signifi-secondary:hover,
.block-editor-block-list__block .wp-block-button.is-style-signifi-secondary .wp-block-button__link:hover,
.wp-block-button.is-style-signifi-secondary .wp-block-button__link:hover,
.btn-contact:hover {
  background: #ffffff!important;
  color: #e9344e !important;
  transform: translateY(-0.5px);
}

a.wp-block-button__link:not(.has-background):hover {
  color: #e9344e !important;
  background-color: #ffffff !important;
}

/* =================================================
   Active / Pressed
================================================= */
.wp-block-button__link.is-style-signifi-secondary:active,
a.is-style-signifi-secondary:active,
.block-editor-block-list__block .wp-block-button.is-style-signifi-secondary .wp-block-button__link:active,
.wp-block-button.is-style-signifi-secondary .wp-block-button__link:active,
.btn-contact:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(225, 6, 0, 0.25);
}

a.wp-block-button__link:not(.has-background):active,
a.wp-block-button__link:not(.has-background):focus,

/* Firefox */
a.wp-block-button__link:not(.has-background):focus-visible {
  color: #e9344e !important;
  background-color: #ffffff !important;
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(225, 6, 0, 0.25);
  border: none !important;
}